* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(to left, lightblue, lightgreen);
}
body > h1 {
  display: flex;
  justify-content: center;
}
body > section {
  padding: 20px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  justify-content: center;
}
body > section > .newNote {
  border: 1px solid black;
  background-color: #56dd78;
  max-width: 320px;
  height: 200px;
  padding: 0px;
}
body > section > .newNote > h1 {
  justify-content: center;
  display: flex;
}
body > section > .newNote > .note-content {
  display: grid;
  width: 100%;
  max-height: 100%;
}
body > section > .newNote > div > .note-content {
  display: grid;
  width: 100%;
  max-height: 100%;
}
body > section > .creatNewNotes {
  border: 1px solid black;
  background-color: #56dd78;
  max-width: 320px;
  height: 200px;
  padding: 0px;
  cursor: pointer;
}
body > section > .creatNewNotes > h1 {
  display: grid;
  justify-content: center;
}
